@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.icons img:hover {
  filter: invert(53%) sepia(42%) saturate(6069%) hue-rotate(331deg)
    brightness(105%) contrast(97%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
